<div class="footer bg-primary p-4 h-72">
  <!-- <div class="flex justify-center items-center">
        <a href="https://www.facebook.com" target="_blank" class="text-2xl  text-white hover:text-blue-500">
            <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank" class="text-2xl t text-white hover:text-blue-500">
            <i class="fab fa-twitter-square"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" class="text-2xl  text-white hover:text-blue-500">
            <i class="fab fa-instagram-square"></i>
        </a>
        <a href="https://www.youtube.com" target="_blank" class="text-2xl  text-white hover:text-blue-500">
            <i class="fab fa-youtube-square"></i>
        </a>
    </div> -->
  <div class="text-center text-white mt-4">&copy; 2021 All rights reserved</div>
</div>
